<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="header">
    <img class="logo" src="logo.png" alt="Logo">
</div>

<button class="get-started-button" id="getStartedButton">Get Started</button>

<p>test thing</p>
    
<div class="container" id="mainContent">
    <img class="dynamic-image" id="dynamicImage" alt="Example Image">
</div>

<script src="script.js"></script>
</body>
</html>
